body {
    background-color: #f2ebe3;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.product-card {
    display: flex;
    width: 35vw;
    height: 60vh;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-img {
    width: 50vw;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 30px 0 0 30px;
}

.product-content {
    max-width: 50%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5%;
    border-radius: 0 30px 30px 0;
}

.category {
    color: grey;
    letter-spacing: 0.4rem;
}

.name>h1 {
    font-size: 2.5rem
}

.product-desc {
    color: grey;
}

.product-price {
    display: flex;
    justify-content: space-between;
}

.sale-price {
    color: #3C8067;
}

.list-price {
    color: grey;
    text-decoration: line-through;
    margin-top: 11%;
    margin-right: 30%;
}

.cart-btn {
    background-color: black;
    color: white;
    height: 50px;
    border-radius: 5px;
    border: #3C8067;
    font-size: 1.25rem;
    transition: background-color 0.3s ease;
}

.cart-btn:hover {
    background-color: #3c8067;
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    .product-card {
        flex-direction: column;
        width: 50vw;
        height: 50vh;
    }

    .product-img {
        max-width: 100%;
        height: 50%;
        border-radius: 30px 30px 0 0;
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 30px 30px 0 0;
    }

    .product-content {
        max-width: 100%;
        height: 50%;
        border-radius: 0 0 30px 30px;
    }

    .list-price {
        color: grey;
        text-decoration: line-through;
        margin-top: 7%;
        margin-right: 55%;
    }
}

footer {
    text-align: center;
}